@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap');
/*font-family: 'DM Sans', sans-serif;*/ /*h2*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
/*font-family: 'Montserrat', sans-serif;*/ /*p*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
/*font-family: 'Open Sans', sans-serif;*/

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');
/*font-family: 'Work Sans', sans-serif;*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

/*banners*/
.home-header{
    background-image: url("img/panini.jpg");
}

.menu{
    background-image: url("img/avosandwich.jpg");
}

.specials-header{
    background-image: url("img/burger.jpg");
}

.browse-header{
    background-image: url("img/chocmuffin.jpg");
}

.drinks-header{
    background-image: url("img/coffee.jpg");
}

.home-header, .menu, .specials-header, .browse-header, .drinks-header{
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.3);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    color: white;
    padding: 40px 100px 50px;
}

h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 80px;
    font-weight: 700;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*padding: 40px 100px;*/
}

.logo{
    cursor: pointer;
}

.nav_tag {
    list-style: none;

}

.nav_tag li {
    display: inline-block;
    padding: 0px 15px;
}

.nav_tag li a {
    color: white;
}

.nav_tag li a {
    text-decoration: none;
    letter-spacing: 0.035em;
    font-size: 14.5px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    transition: all 0.3s ease 0s;
}

.nav_tag li a:hover {
    color: #3BC5CC;
}

.about-us, .menu-content, .info, .specials{
    width: 85%;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.p2{
    color: white;
}


h2{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    padding: 30px 0 10px;
    color: dimgrey;
}

.specials{
    line-height: 2.0;
    font-size: 18px;
}

p{
    font-family: 'Montserrat', sans-serif;
    line-height: 2.0;
    font-size: 18px;
    color: dimgrey;
}

/*items in drop-down list*/
.choice{
    font-family: 'Montserrat', sans-serif;
}

.table{
    text-align: center;
}
/*browse page table
 * this was adapted from a tutorial video by dcode on Youtube
 * link here:
 * https://youtu.be/biI9OFH6Nmg
 */
.content-table{
    border-collapse: collapse;
    min-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.content-table td{
    text-align: left;
    border-bottom: 1px solid #DDDDDD;
}

/*alternating row color
.content-table tr:nth-child(even){
    background-color: #FAFAFA;
}*/

.content-table th,
.content-table td{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    padding: 12px 20px;
    text-align: left;
}

a.menu-product{
    font-family: 'Montserrat', sans-serif;
    color: black;
    text-decoration: none;
}

a.menu-product:hover{
    color: #DDDDDD;
    }

/*buttons*/
.button2{
    color: white;
}

.button1{
    color: black;
    display: inline-block;
}

.button1:hover, .button2:hover{
    color: #DDDDDD;
    border-color: #DDDDDD;
}

.button1, .button2{
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    padding: 6px 14px 6px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 2px 2px;
    border: solid 1px;
    border-radius: 16px;
}

/*search bar magnifying lens*/
.searchlens {
    background : url("img/maglens2.jpg") no-repeat center center;
    width : 25px;
    height: 25px;
    background-size: 100% 100%;
    padding: 8px 8px 0;
    border : none;
    color : transparent;
    font-size : 0
}

.searchlens:hover{
    background:url('img/maglens2.jpg') no-repeat 0 -20px;
}

.searchbox{
    padding: 6px 14px 6px;
    margin: 2px 2px;
    border: solid 1px;
    border-color: dimgrey;
    border-radius: 16px;
}

.menu-fil{
    display: inline-block;
}

footer{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    background-color: #FAFAFA;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
}

