@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
/*font-family: 'Fira Sans', sans-serif;*/ /*h1*/

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap');
/*font-family: 'DM Sans', sans-serif;*/ /*h2*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
/*font-family: 'Montserrat', sans-serif;*/ /*p*/

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');
/*font-family: 'Josefin Sans', sans-serif;*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

div.header-elements{
    background-image: url(https://bit.ly/3tTl5Qi);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
}

h1{
    font-family: 'Fira Sans', sans-serif;
    font-size: 80px;
    font-weight: 700;
}

li, a{
    font-family: 'Fira Sans', sans-serif;
    text-decoration: none;
    color: white;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo{
    cursor: pointer;
}

.nav_tag{
    list-style: none;
}

.nav_tag li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_tag li a{
    transition: all 0.3s ease 0s;
}

.nav_tag li a:hover{
    color: #3BC5CC;
}

div.about-us, div.menu-content, div.info{
    width: 60%;
    padding-top: 30px;
    padding-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h2{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 10px;
}

p.about-us, p.info-content{
    font-family: 'Montserrat', sans-serif;
    line-height: 2.0;
    font-size: 18px;
    color: dimgray;
}

div.menu{
    background-image: url(https://bit.ly/39hSlqT);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 50px;
    color: white;
    font-family: 'Fira Sans', sans-serif;
}

p.menu{
    font-family: 'Montserrat', sans-serif;
    line-height: 2.0;
    font-size: 18px;
    color: white;
    padding-bottom: 20px;
}

/*buttons*/
input[type=submit]{
    background: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    margin: 2px 2px;
    border: solid 1.5px;
    border-radius: 25px;
}

/*items in drop-down list*/
.choice{
    font-family: 'Montserrat', sans-serif;
}

